body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.admin-container {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
    /* border: 1px solid red; */
    margin: 35px auto;
}


.admin-container>div {
    /* border: 2px solid green; */
    border-radius: 7px;
}

.admin-container>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    line-height: 50px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    background-color: rgba(168, 195, 222, 0.15);
}

.admin-container a {
    text-decoration: none;
}

.admin-container a:hover {
    color: gray;
}


#adminitemscontainer>div {

    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 15px;
    margin: 0px auto 10px auto;
    padding: 15px;
    align-items: center;
    /* border: 1px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#adminitemscontainer>div>div:nth-child(1) {
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
}

#adminitemscontainer img {
    width: 80%;
    margin: auto;
}

#adminitemscontainer img:hover {
    transform: scale(1.3);
    transition: 2s;
    cursor: pointer;
}

#adminitemscontainer>div>div:nth-child(3) {
    display: flex;
    margin: auto;
}


#adminitemscontainer>div>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: start;
}



#adminitemscontainer>div button {
    margin: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
}

#adminitemscontainer>div button:hover {
    background: transparent;
    border: 1px solid black;
    color: rgb(22, 22, 190);
    font-weight: bold;
}





#shop_footer_rows>div:nth-child(1) li {

    margin-left: -33px;

}

#shop_footer_rows>div:nth-child(2) li {

    margin-left: -33px;

}

#shop_footer_rows>div:nth-child(3) li {

    margin-left: -33px;

}


/* pagination css */


#pagination_wrapper_btn {
    width: 50%;
    display: flex;
    justify-content: start;
    /* gap: 20px; */
    align-items: center;
    margin: 50px auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    /* background-color: blue; */

}

#pagination_wrapper_btn>div {

    margin: 10px;
    width: 60px;
    padding: 5px 10px;
    max-width: 50px;
}

.pagination-button {
    box-sizing: content-box;
    border: none;
    font-size: 15px;
    text-overflow: ellipsis;
    color: white;
    background-color: brown;
    /* width: 100px; */
    width: 40px;
    max-width: 40px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: rgb(184, 62, 62);
}





/*  media querires */


@media only screen and (min-width:750px) and (max-width:1000px) {


    .admin-container {
        grid-template-columns: 1fr;
        text-align: center;
    }




    #adminitemscontainer>div {
        grid-template-columns: repeat(2, 1fr);
        text-align: justify;
    }

    #adminitemscontainer>div>div:nth-child(3) {
        grid-area: 2/1/3/3;
    }

    #adminitemscontainer>div button {
        margin: 18px;
        border: none;
        border-radius: 4px;
        padding: 6px 25px;

    }





}




@media only screen and (max-width:750px) {


    .admin-container {
        grid-template-columns: 1fr;
        text-align: center;
    }




    #adminitemscontainer>div {
        grid-template-columns: repeat(1, 1fr);
        text-align: justify;
    }

    .itemFilterSections {
        display: flex;
        flex-direction: column;
        padding-bottom: 18px;
    }

    .itemFilterSections button,
    .itemFilterSections select {
        width: 80%;
    }

    #adminitemscontainer>div>div:nth-child(2)>p {
        font-size: 14px;
    }

    #pagination_wrapper_btn {
        width: 80%;
    }


}



#addProductBtn_item {
    width: 200px;
    margin: 25px 0px 20px 0px;
}

#addProductBtn_item:hover,
.itemFilterSections select:hover {
    background-color: transparent;
    color: blue;
    font-weight: bold;
}


.itemFilterSections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    /* background-color: rgba(168, 195, 222, 0.15); */
}

.itemFilterSections select {
    background-color: #007bff;
    color: white;
    width: 200px;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}