body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.admin-container {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
    /* border: 1px solid red; */
    margin: 35px auto;
}


.admin-container>div {
    /* border: 2px solid green; */
    border-radius: 7px;
}

.admin-container>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    line-height: 50px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    background-color: rgba(168, 195, 222, 0.15);
}

.admin-container a {
    text-decoration: none;
}

.admin-container a:hover {
    color: gray;
}


#adminusercontainer>div {

    display: grid;
    grid-template-columns: 1fr 4fr 3fr 3fr;
    gap: 15px;
    margin: 0px auto 10px auto;
    padding: 15px;
    align-items: center;
    /* border: 1px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    /* background-color: red;
    color: yellow; */
    font-size: 15px;

}

#adminusercontainer img {
    width: 100px;
    margin: auto;
    display: block;
}

#adminusercontainer span {
    font-weight: 600;
}



#adminusercontainer>div>div:nth-child(4) {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 1px solid red; */
}


#adminusercontainer div>div:nth-child(4) button {
    margin: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
}

#adminusercontainer div>div:nth-child(4) button:hover {
    background: transparent;
    border: 1px solid black;
    color: rgb(22, 22, 190);
    font-weight: bold;
}



.activeBtn {
    background-color: rgb(41, 144, 41);
    padding: 3px 10px;
    border: none;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    width: 100px;
}

.blockBtn {
    background-color: rgb(238, 51, 51);
    padding: 3px 10px;
    border: none;
    margin-left: 10px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    width: 100px;

}

.blockBtn:hover,
.activeBtn:hover {
    background-color: transparent;
    color: rgb(230, 80, 26);
    border: 1px solid;
    font-weight: bold;
}


/*  media querires */


@media only screen and (min-width:750px) and (max-width:1000px) {


    .admin-container {
        grid-template-columns: 1fr;
        text-align: center;
    }




    #adminusercontainer>div {
        grid-template-columns: repeat(2, 1fr);
        text-align: justify;
    }

    /* #adminusercontainer > div > div:nth-child(3){
        grid-area: 2/1/3/3;
    } */

    #adminusercontainer>div button {
        margin: 18px;
        border: none;
        border-radius: 4px;
        padding: 6px 25px;

    }


}




@media only screen and (max-width:750px) {


    .admin-container {
        grid-template-columns: 1fr;
        text-align: center;
    }




    #adminusercontainer>div {
        grid-template-columns: repeat(1, 1fr);
        text-align: justify;
    }

    #adminusercontainer>div>div:nth-child(4) {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        margin: auto;
        margin-left: 5px;
        /* border: 1px solid red; */
    }


}