* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
}

header,
section {
    padding: 20px;
    width: 90%;
    margin: auto;
    line-height: 30px;

}

h1,
h2{
    margin: 40px auto 20px auto;

}


h1 {
    text-align: center;
}

h2{
    text-align: center;
}



.shopcity-features>div {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* width: 85%; */
    gap: 30px;
    margin: auto;
}


.shopcity-overview>p {
    text-align: justify;
}


.developer-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
}


/* Developer information styles */
.developer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0px;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   border-radius: 5px;

}

#develop-image>img {
    width: 100px;
    /* height: 150px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 40px 0px 2px;
}

#develop-image>img:hover{
    transform:scale(1.25);
    transition: 1s;
}

.developer-details h3 {
    margin-bottom: 5px;
}

.developer-details p {
    margin-bottom: 6px;
    text-align: justify;
}

.developer-details span {
    color: #007bff;
    letter-spacing: 1px;
}




/* Responsive styles */
@media (max-width: 768px) {

    header,
    section {
        padding: 10px;
    }

    .developer-card {
        display: flex;
        flex-direction: column;
    }

    h1,
    h2,
    h3,
    h5
    {
        margin: 15px auto 10px auto;
        text-align: center;

    }

    .developer-details p {
        padding: 0px 15px;
    }

    #develop-image>img {
        margin: auto;

    }
    h2{
        margin-top: 20px;
    }
    .shopcity-features>div {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* width: 85%; */
        gap: 20px;
        margin: auto;
    }
    p{
        font-size: 14px;
    }
    .developer-info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        width: 90%;
        margin: auto;
    }

}

@media (min-width: 768px) and (max-width:1000px) {
    .shopcity-features>div {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* width: 85%; */
        gap: 20px;
        margin: auto;
    }
    .developer-info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        width: 90%;
        margin: auto;
    }
}