/*** new Nav bar ********/

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.shop-nav-header {
    background-color: #007bff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 25px;
    height: 60px;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.shop-city-logo img {
    width: 190px;
    /* height: 100%; */
    /* mix-blend-mode: hard-light; */
    /* border-radius: 1px; */
    /* padding-top: 5px; */
}



.shopcity-nav-search input {
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
.shopcity-nav-search input:focus {
    width: 50vw;
    letter-spacing: 2px;
}

.shop-nav-icons {
    text-align: right;
}

.shop-nav-icons .fa {
    color: white;
    text-decoration: none;
    padding: 0px 15px;
    font-size: 21px;
    transition: 0.6s;

    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
}




.fa:hover {
    color: black;
}

.shop-city-links {
    background-color: #007bff;
    height: 0;
    /* transition: 0.6s; */
    text-align: center;
    z-index: 999;

    animation: growDown 1000ms ease-in-out forwards;
    transform-origin: top center;

}

@keyframes growDown {
    0% {
        transform: scaleY(0);
        opacity: 0.6;
    }
    80% {
        transform: scaleY(1);
        opacity: 0.8;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}


.shop-city-links a {
    color: white;
    text-decoration: none;
    display: inline;
    font-size: 18px;
    padding: 15px;

}

.nav-ham-showmylinks {
    display: block;
    /* background-color: red; */
    /* border: 1px solid black; */
    height: 35px;
    padding-top: 5px;
}


.shop-nav-icons sup {
    color: whitesmoke;
    margin-left: 2px;
    font-size: 16px;
    font-weight: bold;
    color: red;
}




/* Style The Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
}

#dropdownForProfile {
    display: none;
    /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    padding-top: 10px;
}

/* Links inside the dropdown */


.dropdown-content > a:nth-child(3){
    display: none;
}



.dropdown-content > p{
    margin-bottom: 7px;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}












/*  media part */



@media only screen and (max-width:600px) {
    .shop-nav-header {
        grid-template-columns: auto auto;
        padding: 10px 5px;
        height: auto;
    }

    .shopcity-nav-search {
        grid-column: 2;
        grid-row: 2;
        grid-column: 1/span 2;
        padding-top: 10px;
    }

    .shop-nav-icons {
        padding: 5px;
    }

    .shop-city-logo img {
        width: 120px;
    }

    .shop-city-links a {
        display: block;
    }

    .nav-ham-showmylinks {
        display: block;
        height: 245px;
        padding-top: 0px;
    }
    .shopcity-nav-search input:focus {
        width: 100%;
    }
}






/* FOOTER */


.shop-city-container {
    /* max-width: 1170px; */
    margin: auto;
    width: 100%;
}

.shop-row>div {
    width: 100%;
    padding-left: 15px;
}


.shop-row {
    /* display: flex;
	flex-wrap: wrap; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: auto;
    /* border: 1px solid red; */
    padding-left: 45px;
}

ul {
    list-style: none;
}

.shop-footer {
    background-color: #24262b;
    padding: 70px 0;
}


.shop-footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.shop-footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.shop-footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.shop-footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease-in-out;
}

.shop-footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.shop-footer-col .shop-social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.shop-footer-col .shop-social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*media query responsiveness */



@media(max-width: 750px) and (min-width: 1100px) {

    .shop-row {
        grid-template-columns: repeat(2, 1fr);
    }


    .shop-row>div {
        width: 100%;
        margin: auto;
        /* margin: auto 150px; */
    }
    .shopcity-nav-search input:focus {
        width: 100%;
    }

}

@media(max-width: 750px) {

    .shop-row {
        grid-template-columns: repeat(1, 1fr);
    }



    .shop-row>div {
        width: 80%;
        margin: auto;
        padding-left: 40px;
    }


    .shop-social-links {
        width: 250px;
        margin-left: -55px;
    }
    .shopcity-nav-search input:focus {
        width: 100%;
    }

}