<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yinka Enoch Adedokun">
    <meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
    <meta name="keywords" content="forgot password page, basic html and css">
    <title>Forgot Password Page</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
    <link rel="stylesheet" href="../styles/forgot-password.css">
</head>

<body>
    <div class="row">
        <h1>Forgot Password</h1>
        <h6 class="information-text">Enter your new password to reset your password.</h6>
        <div class="form-group">
            <input type="password" name="user_password" id="user_password" autofocus>
            <p><label for="user_password">New Password</label></p>
            <input type="password" name="user_con_password" id="user_con_password">
            <p><label for="user_con_password">Confirm Password</label></p>
            <button onclick="showSpinner()">Reset Password</button>
        </div>
        <div class="footer">
            <h5>Login here? 
                <a href="./user.login.html">
                    Sign In.
                </a>
            </h5>
          
        </div>
    </div>
</body>

</html>


<script src="../scripts/forgot-password.js"></script>